<div class="dmsidebar-container d-flex justify-content-center">
  <aside id="layout-menu" class="dmsidebar layout-menu menu-vertical menu bg-menu-theme text-center">
    <div class="dmsidebar-menu-container">
      <ul class="menu-inner mt-0 py-1 ps ps--active-y">
        <!-- Layouts -->
        <li class="menu-item open">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">عناصر مهمة</div>
          </a>

          <ul class="menu-sub">
            <li class="menu-item">
              <a [routerLink]="['OrdList']" class="menu-link text-primary">
                الطلبات الغير معتمدة
              </a>
            </li>
            <li class="menu-item">
              <a [routerLink]="['signedOrders']" class="menu-link text-primary">
                الطلبات المعتمدة
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dmsidebar-table-container">
      <table class="dmsidebar-table text-dark mt-0 display-1 fs-5 fw-bolder" mat-table [dataSource]="itms">
        <ng-container matColumnDef="main_Dept">
          <th mat-header-cell *matHeaderCellDef class="text-dark display-1 fs-5 fw-bolder">قسم طالب</th>
          <td mat-cell *matCellDef="let element">{{element.main_Dept}}</td>
        </ng-container>
        <ng-container matColumnDef="ord_Date">
          <th mat-header-cell *matHeaderCellDef class="text-dark display-1 fs-5 fw-bolder">تاريخ</th>
          <td mat-cell *matCellDef="let element">{{element.ord_Date | date: "yyyy/MM/dd"}}</td>
        </ng-container>
        <ng-container matColumnDef="ord_Id">
          <th mat-header-cell *matHeaderCellDef class="text-dark display-1 fs-5 fw-bolder">رقم الطلب</th>
          <td mat-cell *matCellDef="let element">{{element.ord_Id}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="text-dark display-1 fs-5 fw-bolder" mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'bg-warning': row.tran_Code==2}"></tr>
      </table>
    </div>
  </aside>
</div>
