<div class="menu-container">
  <div id="container" class="menu-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0 m-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menuNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-list">
          <li class="nav-item menu-item">
            <a class="nav-link menu-link home-link" [routerLink]="['Home']">
              <mat-icon>home</mat-icon>
            </a>
          </li>
          <li class="nav-item dropdown menu-item has-dropdown">
            <a class="nav-link dropdown-toggle menu-link" href="#" id="appsDropdown" role="button" data-bs-toggle="dropdown">
              <span>أكواد التطبيقات و المستخدمين</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="appsDropdown">
              <li><a class="dropdown-item" [routerLink]="['CrtGrp']" routerLinkActive="router-link-active">أكواد التطبيقات</a></li>
              <li><a class="dropdown-item" [routerLink]="['CrtUsr']" routerLinkActive="router-link-active">أكواد مستخدمى التطبيقات</a></li>
              <li><a class="dropdown-item" [routerLink]="['SystemConfig']" routerLinkActive="router-link-active">بيانات النظام</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown menu-item has-dropdown">
            <a class="nav-link dropdown-toggle menu-link" href="#" id="storesDropdown" role="button" data-bs-toggle="dropdown">
              <span>أكواد حسابات المخازن</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="storesDropdown">
              <li><a class="dropdown-item" [routerLink]="['CrtFct']" routerLinkActive="router-link-active">أكواد المصانع</a></li>
              <li><a class="dropdown-item" [routerLink]="['CrtItm']" routerLinkActive="router-link-active">تكويد صنف جديد</a></li>
              <li><a class="dropdown-item" [routerLink]="['CrtStr']">أكواد المخازن</a></li>
              <li><a class="dropdown-item" [routerLink]="['AddToMstr']">إضافة الصنف لملف الأرصدة</a></li>
              <li><a class="dropdown-item" [routerLink]="['Crtcst']">مراكز التكاليف</a></li>
              <li><a class="dropdown-item" [routerLink]="['Spplr']">الموردين</a></li>
              <li><a class="dropdown-item" [routerLink]="['unit']">وحدات القياس</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown menu-item has-dropdown">
            <a class="nav-link dropdown-toggle menu-link" href="#" id="stockDropdown" role="button" data-bs-toggle="dropdown">
              <span>أكواد مراقبة المخزون</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="stockDropdown">
              <li><a class="dropdown-item" [routerLink]="['DMTypes']">أنواع الطلبيات</a></li>
              <li><a class="dropdown-item" [routerLink]="['OrdStats']">أكواد موقف الطلبات وأوامر التوريد</a></li>
              <li><a class="dropdown-item" [routerLink]="['SupOrds']">أنواع التوريد</a></li>
              <li><a class="dropdown-item" [routerLink]="['MnDpt']">الأقسام الرئيسية</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown menu-item has-dropdown user-menu">
            <a class="nav-link dropdown-toggle menu-link user-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
              <mat-icon>account_circle</mat-icon>
              <span>{{usrName}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item logout-item" (click)="SignOut()">
                <mat-icon>logout</mat-icon>
                <span>خروج</span>
              </a></li>
            </ul>
          </li>
          <li class="nav-item menu-item search-item">
            <form [formGroup]="itUserSearchForm" class="d-flex search-form">
              <input formControlName="userId" type="search" class="form-control search-input" placeholder="الاستعلام عن طلب او مستخدم" (change)="search()">
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
