<div class="misc-wrapper text-center">
    <h2 class="mb-2 mx-2">خطأ في العنوان:(</h2>
    <p class="mb-4 mx-2">Oops! 😖 هذه الصفحة غير موجودة</p>
    <a href="index.html" class="btn btn-primary">عودة للصفحة الرئيسية</a>
    <div class="mt-3">
      <img src="assets/img/illustrations/page-misc-error-light.png" alt="page-misc-error-light" width="500" class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png" data-app-light-img="illustrations/page-misc-error-light.png">
    </div>
  </div>