<div class="d-flex">
 
    <button class="col-2 mx-auto fw-bolder fs-5 "
     mat-flat-button color="primary" (click)="getMaxShowId()"><mat-icon>update</mat-icon>رقم عرض جديد</button>

     <!-- getCurrentShowId -->

     <button class="col-2 mx-auto fw-bolder fs-5 "
     mat-flat-button color="warn" (click)="getCurrentShowId()"><mat-icon>update</mat-icon>رقم عرض الحالي</button>
</div>

<div class="d-flex mt-3">
 
      <!-- print Current ShowId -->
    <button class="col-3 mx-auto fw-bolder fs-5 "
     mat-flat-button color="accent" (click)="printCurrentShow()"><mat-icon>reorder</mat-icon>اطبع العرض الحالي</button>

     <button class="col-3 mx-auto bg-info fw-bolder fs-5 "
     mat-flat-button 
      (click)="printCurrentTafrgha()"><mat-icon>reorder</mat-icon>اطبع التفريغة</button>

   

    
</div>