<div class="container mt-0 my-1 p-1 login-wrapper shadow-lg rounded glass-wrapper">

  <!-- الهيدر -->

  <div class="text-center mb-1 fade-header header-glass">

    <img src="assets/img/Pro.jpg" class="rounded-circle border border-white shadow-lg m-1" 
         style="width:90px;height:90px;" />

    <h1 class="title-main text-white">شركة السكر والصناعات التكاملية المصرية</h1>

    <h5 class="title-sub">قطاعات نظم المعلومات</h5>

    <h5 class="title-sub">منظومة المخزون الجديدة SCM</h5>

  </div>

  <div class="row justify-content-center">

    <!-- Login Card -->

    <div class="col-md-5">

      <div class="card login-card shadow-lg p-1">

        <div class="text-center mb-3">

          <img src="assets/img/backgrounds/Logo.jfif"
               class="rounded-circle shadow-sm border border-white"
               style="width:150px;height:150px;">

        </div>

        <h4 class="welcome-text">أهلاً بك في منظومة المخزون 👋</h4>

        <form [formGroup]="grLoginForm">

          <!-- App Id -->
          <mat-form-field appearance="outline" class="w-100 mt-3">

            <mat-label>كود التطبيق</mat-label>

            <input matInput type="number" formControlName="App_Id" placeholder="أدخل كود التطبيق">
            
          </mat-form-field>

          <small class="error-message" 
                *ngIf="grLoginForm.hasError('required','App_Id') &&
                       grLoginForm.get('App_Id')?.touched">
            لابد من إدخال كود التطبيق
          </small>

          <!-- Password -->
          <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>كلمة مرور التطبيق</mat-label>
            <input matInput type="password" formControlName="App_Password" placeholder="••••••••">
          </mat-form-field>

          <small class="error-message"
                *ngIf="grLoginForm.hasError('required','App_Password') &&
                       grLoginForm.get('App_Password')?.touched">
            لابد من إدخال كلمة المرور
          </small>

          <!-- Buttons -->
          <div class="row mt-4">
            <div class="col">
              <button class="btn btn-outline-success w-100 login-btn" (click)="SendGrp()">موافق</button>
            </div>
            <div class="col">
              <button class="btn btn-outline-danger w-100 cancel-btn" (click)="cancel()">إلغاء</button>
            </div>
          </div>

        </form>
      </div>
    </div>

    <!-- Image -->
    <div class="col-md-5">
      <div class="preview-box shadow-lg"
           style="background-image: url('assets/img/backgrounds/erp-(6).jpg'); height: 520px;">
      </div>
    </div>

  </div>

</div> 
