#myVideo {
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    height: 500px;


  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: auto;
 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: auto;
    padding: 20px;
  }

 

  /* .example xx{
    
  
      background-color: red;
      animation-name: example;
      animation-duration: 4s;
    }

  
  @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */