<div class="row">
    <!-- Basic Layout -->
    <div class="col ">
      <div class="card ">
        <div class="card-header align-items-center justify-content-between">
         <div class="text-center"> <h3 class=" text-center">إعداد لجنة المشتريات</h3>
         </div>
        </div>
        <div class="card-body">
          <form class="">
            <div class="d-flex flex-row ">
              <label class="col-sm-2 col-form-label" for="basic-default-name">المصنع</label>
              <div class="col-sm-3">
                 <select style="display: inline;" class="  p-2 bd-highlight form-select text-center" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected=""> أختر المصنع</option>
                    <option value="1">كوم أمبو</option>
                    <option value="2">إدفو</option>
                    <option value="3">أرمنت</option>
                    <option value="3">قوص</option>
                  </select> 
                </div>
                <!-- <input type="text" class="form-control" id="basic-default-name" placeholder="John Doe"> -->
                <label class="p-2 col-sm-2 bd-highlight" for="basic-default-name">تاريخ اللجنة</label>  
                <input type="date" class="form-control text-start" id="basic-default-name" >
              
            </div>
            <div>
                <app-ord-list></app-ord-list>
            </div>
         
          </form>
        </div>
      </div>
    </div>
    <!-- Basic with Icons -->
    
  </div>
