
<app-comp-header></app-comp-header>
<div class="d-flex justify-content-center m-2" >
 
 
    <!-- <app-stocks-menus ></app-stocks-menus> -->
<app-review-menu  class="text-center"></app-review-menu>
    

</div>


<div class="container" >


    
    <div class="row ">
    
        <div class="col-2 bg-info mat-elevation-z12">
            <app-rview-side-menus></app-rview-side-menus>
    
            <!-- <app-itside-menu></app-itside-menu> -->
            
            <!-- <app-stocks-side-menu></app-stocks-side-menu> -->
            
    
        </div>
    
        <div class="col-10 mat-elevation-z12">
            
            <router-outlet></router-outlet>
    
        </div>
      
    </div>
    
    </div>