
<p class="display-4 text-center">أكوادالأقسام الرئيسية</p>


<div class="col-xxl ">
    <div class="card mb-4">
    
      <div class="card-body">
        <form class="fw-bold fs-5" [formGroup]="deptsForms">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">كود القسم الرئيسي</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="basic-default-name" placeholder=""
              [class.is-valid]="Id?.valid" [class.is-invalid]="Id?.invalid" 
              formControlName="Id" (blur)="getDeptById()"
              >
            </div>
         
            <label class="col-sm-2 col-form-label " for="basic-default-company"> اسم القسم</label>
            <div class="col-sm-6">
                <textarea type="text" class="form-control" id="basic-default-name" placeholder=""
                [class.is-valid]="Name?.valid" [class.is-invalid]="Name?.invalid" 
                formControlName="Name" 
                >
                </textarea>
              </div>
          </div>

          <div class="row text-center ">
            <div class="col">
              <button type="submit" class="btn btn-secondary" (click)="ClearForm()">جديد</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" (click)="addDept()">اضافة</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success" (click)="updDept()" >تعديل</button>
              </div>

              <div class="col">
                <button type="submit" class="btn btn-danger" (click)="delDept()">حذف</button>
              </div>
          </div>
    
    
         
        </form>
      </div>
    </div>
  </div>

  <div class="col">
    <mat-form-field>
    <mat-label>بحث</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field> 
   </div>
   <table class="text-dark   mt-4"  mat-table [dataSource]="dataSource"  >
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef >م</th>
      <td class="bg-warning" mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th  mat-header-cell *matHeaderCellDef > كود القسم</th>
      <td   mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th  mat-header-cell *matHeaderCellDef > اسم القسم  </th>
        <td  mat-cell *matCellDef="let element" > {{element.name}} </td>
      </ng-container>
  
   
  
  
  
  
  
  <!-- [ngClass]="{'bg-warning': row.tran_Code==2}" -->
    <tr mat-header-row class="text-white fw-bolder display-5 fs-5  text-center bg-primary" *matHeaderRowDef="displayedColumns"></tr>
    <tr class="text-dark display-1 fs-5 fw-bolder "   mat-row  *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  <mat-paginator #paginator  [pageSizeOptions]="[5, 10, 20,40]" matSort 
  showFirstLastButtons     aria-label="Select page of periodic elements">
  </mat-paginator>
