
<div class="container" >
    <app-comp-header></app-comp-header>
<div class="d-flex justify-content-center" >
    <!-- <p class="text-center display-3">منظومة المخزون</p>
    <p class="text-center display-5"> الإدارة العليا</p> -->

    <!-- <app-stocks-menus ></app-stocks-menus> -->

    <app-top-mgm-menu></app-top-mgm-menu>

    

</div>





    
    <div class="row ">
    
        <div class="col-2 bg-info mat-elevation-z12">
       
            
    
        </div>
    
        <div class="col-10 mat-elevation-z12">
            
            <router-outlet></router-outlet>
    
        </div>
      
    </div>
    
    </div>