<div class="container mt-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>تكوين طلبات الشراء</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="orderProcessForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>المصنع</mat-label>
            <input matInput type="number" formControlName="factId">
            <mat-error *ngIf="orderProcessForm.get('factId')?.hasError('required')">
              رقم المصنع مطلوب
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>الموسم</mat-label>
            <input matInput type="number" formControlName="season">
            <mat-error *ngIf="orderProcessForm.get('season')?.hasError('required')">
              الموسم مطلوب
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>نوع الطلب</mat-label>
            <input matInput formControlName="typ">
            <mat-error *ngIf="orderProcessForm.get('typ')?.hasError('required')">
              نوع الطلب مطلوب
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>من رقم</mat-label>
            <input matInput type="number" formControlName="f_id">
            <mat-error *ngIf="orderProcessForm.get('f_id')?.hasError('required')">
من رقم            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>إلي رقم</mat-label>
            <input matInput type="number" formControlName="e_id">
            <mat-error *ngIf="orderProcessForm.get('e_id')?.hasError('required')">
            إلي رقم

            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Locale</mat-label>
            <input matInput type="number" formControlName="locale">
            <mat-error *ngIf="orderProcessForm.get('locale')?.hasError('required')">
              Locale is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="orderProcessForm.invalid">
            Submit
          </button>
          <button mat-raised-button color="accent" type="button" (click)="resetForm()">
            Reset
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
