<p class="text-center display-4 fw-bolder">الاجماليات العامة للمخازن</p>
<form [formGroup]="totalForm" class="p-2">
<div class="row">
<div class="col-3"  >
  <mat-form-field class="text-dark display-1 fs-5 fw-bolder "  appearance="outline" >
    <mat-label class="text-dark display-1 fs-5 fw-bolder ">اختر المصنع</mat-label>
    <mat-select   class="text-dark display-1 fs-5 fw-bolder "  formControlName="Fact_Id" >
      <mat-option class="text-dark display-1 fs-5 fw-bolder "  *ngFor="let fact of facts" 
      [value]="fact.id"
   
>{{ fact.name }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div class="col-3">
  <button class=" col btn btn-outline-primary display-4 fw-bold" (click)="getTot()">أعرض الأجماليات</button>
</div>
<div class="col-3 alert alert-danger m-0" role="alert">
 اضغط مرتين علي المخزن لعرض الأرصدة التفصيلية
</div>
</div>
</form>
<div class="card-body">
        

    <div class="card"  *ngIf="!isLoading"  style="overflow-x: scroll; height: 500px;">
        <!-- <h3 class="card-header">
       
        </h3> -->
        <div class="card-body"  >
          <mat-form-field>
            <mat-label>بحث</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="ابحث عن أي شئ" #input>
          </mat-form-field>
       
  <!-- this.isLoading=true; -->
          <table class="text-dark mt-1 fs-5 fw-bolder bg-info mt-4"  mat-table [dataSource]="dataSource"  >

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef >م</th>
              <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
             
            </ng-container>
    
            <ng-container matColumnDef="fact_Id">
              <th mat-header-cell *matHeaderCellDef>رقم المصنع</th>
              <td mat-cell *matCellDef="let element">{{element.fact_Id ?? ''}}</td>
           
            </ng-container>
            <ng-container matColumnDef="fact_Name">
              <th mat-header-cell *matHeaderCellDef>اسم المصنع</th>
              <td mat-cell *matCellDef="let element">{{element.fact_Name ?? ''}}</td>
            </ng-container>
            

            <ng-container matColumnDef="store_Id">

              <th  mat-header-cell *matHeaderCellDef > رقم مخزن </th>

              <td  mat-cell *matCellDef="let element " >  {{element.store_Id??''}} </td>

            </ng-container>

            
    
            <ng-container matColumnDef="store_Name">

              <th  mat-header-cell *matHeaderCellDef > الاسم </th>

              <td  mat-cell *matCellDef="let element "   > {{element.store_Name??''}} </td>

             
            </ng-container>


            <ng-container matColumnDef="frstQtyTotal">

              <th  mat-header-cell *matHeaderCellDef >ك</th>

              <td  mat-cell *matCellDef="let element " >  {{element.frstQtyTotal??'0'}} </td>

            </ng-container>

            <ng-container matColumnDef="frstValTotal">

              <th  mat-header-cell *matHeaderCellDef >ق</th>
              <td  mat-cell *matCellDef="let element " >  {{element.frstValTotal??'0'}} </td>
            </ng-container>

            <ng-container matColumnDef="inQtyTotal">
              <th  mat-header-cell *matHeaderCellDef >وارد ك</th>
              <td  mat-cell *matCellDef="let element " >  {{element.inQtyTotal??'0'}} </td>
            </ng-container>

            <ng-container matColumnDef="inValTotal">
              <th  mat-header-cell *matHeaderCellDef >وارد ق</th>
              <td  mat-cell *matCellDef="let element " >  {{element.inValTotal??'0'}} </td>
            </ng-container>

            <ng-container matColumnDef="eInQtyTotal" >
              <th  mat-header-cell *matHeaderCellDef >تسوية وارد ك</th>
              <td  mat-cell *matCellDef="let element " >   {{element.eInQtyTotal??'0'}}  </td>
            </ng-container>
    
            <ng-container matColumnDef="eInValTotal">
              <th  mat-header-cell *matHeaderCellDef >تسوية وارد ق</th>
              <td  mat-cell *matCellDef="let element " >  {{element.eInValTotal??'0'}} </td>
            </ng-container>

            <ng-container matColumnDef="outQtyTotal">
              <th  mat-header-cell *matHeaderCellDef >منصرف ك</th>
              <td  mat-cell *matCellDef="let element " >  {{element.outQtyTotal??'0'}} </td>
            </ng-container>

            <ng-container matColumnDef="outValTotal">
              <th  mat-header-cell *matHeaderCellDef >منصرف ق</th>
              <td  mat-cell *matCellDef="let element " >  {{element.outValTotal??'0'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="eOutQtyTotal">
              <th  mat-header-cell *matHeaderCellDef >تسوية منصرف ك</th>
              <td  mat-cell *matCellDef="let element " >  {{element.eOutQtyTotal }} </td>
            </ng-container>

            <ng-container matColumnDef="EOutValTotal">
              <th  mat-header-cell *matHeaderCellDef >تسوية منصرف ق</th>
              <td  mat-cell *matCellDef="let element " >  {{element.EOutValTotal ?? 0}} </td>
            </ng-container>
            


            <ng-container matColumnDef="finQty">

              <th  mat-header-cell *matHeaderCellDef >الرصيد ك</th>

              <td  mat-cell *matCellDef="let element " >  {{element.finQty ?? 0}} </td>
            
            </ng-container>


            <ng-container  matColumnDef="FinVal">

              <th  mat-header-cell *matHeaderCellDef >الرصيد ق</th>

              <td   mat-cell *matCellDef="let element " >

                  {{element.FinVal ?? 0}} </td>

            </ng-container>
       
         
    
    
            <tr mat-header-row class="text-dark display-1 fs-5 fw-bolder bg-secondary  mt-4" style="z-index: -100;" *matHeaderRowDef="displayedColumns;sticky: true"></tr>
  
            <tr  class="text-dark display-1 fs-5 fw-bolder table-row "  matTooltip="ssss" mat-row  *matRowDef="let row; columns: displayedColumns;"
             (dblclick)="asd(row)"  ></tr>
     
      
         
          </table>
          <mat-paginator   #paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements">
</mat-paginator>
          <br>
      
       

        </div>
     </div>
    

     


    
</div>
<div class="text-center" *ngIf="isLoading">
  <app-sh-spinner></app-sh-spinner>
  </div>