<h1 class="fw-bold fs-5 text-center display-1">شاشة تصنيف المخازن</h1>

<div class="col-xxl ">
    <div class="card mb-4">
    
      <div class="card-body">
        <form class="fw-bold fs-5">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">كود المخزن</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="basic-default-name" placeholder="">
            </div>
         
            <label class="col-sm-2 col-form-label text-danger" for="basic-default-company"> اسم المخزن </label>
        
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">نوع المخزن</label>
            <div class="col-sm-3">
               <select class="  p-2 bd-highlight form-select  text-center" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected=""> أختر النوع</option>
                  <option value="1">قيمة</option>
                  <option value="2">جمرك</option>
                  <option value="3">ضريبة </option>
                  <!-- <option value="3">إسكندرية</option> -->
                </select> 
              </div>
          </div>



          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">نوع الصنف</label>
            <div class="col-sm-3">
               <select class="  p-2 bd-highlight form-select text-center" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected=""> أختر النوع</option>
                  <option value="1">محلي</option>
                  <option value="2">مستورد</option>
                  <!-- <option value="3">ضريبة </option> -->
                  <!-- <option value="3">إسكندرية</option> -->
                </select> 
              </div>
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">نوع السلعي</label>
            <div class="col-sm-3">
               <select class="  p-2 bd-highlight form-select  text-center" id="inputGroupSelect04" aria-label="Example select with button addon">
                  <option selected=""> أختر النوع</option>
                  <option value="1">خامات مساعدة</option>
                  <option value="2">وقود</option>
                  <option value="3">زيوت وشحوم </option>
                  <!-- <option value="3">إسكندرية</option> -->
                </select> 
              </div>
          </div>

<!-- 

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name"> اسم المورد</label>
            <div class="col-sm-10">
              
              <textarea id="basic-default-message" class="form-control" placeholder="ادخل اسم المورد" aria-label="Hi, Do you have a moment to talk Joe?" aria-describedby="basic-icon-default-message2"></textarea>
            </div>
            
         
           
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name"> بطاقة ضريبية</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="basic-default-name" placeholder="">
            </div>
         
            <label class="col-sm-2 col-form-label" for="basic-default-company">سجل ضريبي</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="basic-default-company" placeholder = "أدخل كود المورد">
            </div>
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name"> العنوان</label>
            <div class="col-sm-10">
              
              <textarea id="basic-default-message" class="form-control" placeholder="ادخل عنوان المورد" aria-label="Hi, Do you have a moment to talk Joe?" aria-describedby="basic-icon-default-message2"></textarea>
            </div>
            
         
           
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">جوال</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="basic-default-name" placeholder= "أدخل الجوال">
            </div>
         
            <label class="col-sm-2 col-form-label" for="basic-default-company">جوال </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="basic-default-company" placeholder = "أدخل الجوال">
            </div>
          </div>


          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-name">البريد الالكترونى</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="basic-default-name" placeholder= "أدخل البريد">


            </div>

            <label class="col-sm-2 col-form-label" for="basic-default-name">البنك</label>
              <div class="col-sm-3">
                 <select class="  p-2 bd-highlight form-select btn btn-outline-primary" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected=""> أختر البنك</option>
                    <option value="1">بنك مصر</option>
                    <option value="2">البنك الأهلي</option>
                    <option value="3">بنك القاهرة</option>
                    <option value="3">إسكندرية</option>
                  </select> 
                </div>
               <div class="col-3"> <input type="text" class="form-control" id="basic-default-name" placeholder= "أدخل رقم الحساب">
               </div>
          </div>


          -->
         
     
    
    
          <div class="row text-center ">
            <div class="col">
              <button type="submit" class="btn btn-primary">اضافة</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">حفظ</button>
              </div>

              <div class="col">
                <button type="submit" class="btn btn-danger">حذف</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>

