
 
  <div class="text-dark display-1 fs-5 fw-bolder " *ngIf="!isLoading" class="mat-elevation-z8">
    <p class="text-dark   text-center display-1 fs-3 fw-bolder ">استعلامات الحركة المسجلة</p>

    <mat-form-field>
      <mat-label>بحث</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field> 
    
<table class="text-dark display-1 fs-5 fw-bolder  mt-4" 
 mat-table [dataSource]="dataSource"
 matSort  >
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="Fact_Id">
      <th  mat-header-cell *matHeaderCellDef > رقم المصنع</th>
      <td   mat-cell *matCellDef="let element"> {{element.fact_Id}} </td>
    </ng-container> -->
    <ng-container  matColumnDef="fact_Name">
        <th  mat-sort-header sortActionDescription="Sort by number"  mat-header-cell *matHeaderCellDef > اسم المصنع </th>
        <td  mat-cell *matCellDef="let element" > {{element.fact_Name}} </td>
      </ng-container>
  
    <!-- Name Column -->
    <ng-container  matColumnDef="store_Id">
      <th  mat-header-cell *matHeaderCellDef > رقم المخزن </th>
      <td   mat-cell *matCellDef="let element"> {{element.store_Id}} </td>
    </ng-container>


   <!-- Name Column -->
  

  <ng-container matColumnDef="store_Name">
    <th  mat-header-cell *matHeaderCellDef > اسم المخزن </th>
    <td  mat-cell *matCellDef="let element"> {{element.store_Name}} </td>
  </ng-container>


  <ng-container matColumnDef="tran_Date">
    <th  mat-header-cell *matHeaderCellDef >تاريخ الحركة </th>
    <td  mat-cell *matCellDef="let element"> {{element.tran_Date |date:'yyyy/MM/dd'}} </td>
  </ng-container>
  <ng-container matColumnDef="Page">
    <th  mat-header-cell *matHeaderCellDef >الصفحة</th>
    <td  mat-cell *matCellDef="let element"> {{element.page}} </td>
  </ng-container>

  <ng-container matColumnDef="Ser">
    <th  mat-header-cell *matHeaderCellDef >سطر</th>
    <td  mat-cell *matCellDef="let element"> {{element.ser}} </td>
  </ng-container>

  <ng-container matColumnDef="item_Name">
    <th  mat-header-cell *matHeaderCellDef >اسم الصنف</th>
    <td  mat-cell *matCellDef="let element"> {{element.item_Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Quantity">
    <th  mat-header-cell *matHeaderCellDef > الكمية</th>
    <td  mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Cost_ID">
    <th  mat-header-cell *matHeaderCellDef >م التكلفة</th>
    <td  mat-cell *matCellDef="let element"> {{element.cost_ID}} </td>
  </ng-container>

  <ng-container matColumnDef="Exe_Rec_No">
    <th  mat-header-cell *matHeaderCellDef >رقم العلم</th>
    <td  mat-cell *matCellDef="let element"> {{element.exe_Rec_No}} </td>
  </ng-container>

  <ng-container matColumnDef="Exe_Rec_Date">
    <th  mat-header-cell *matHeaderCellDef >تاريخ العلم</th>
    <td  mat-cell *matCellDef="let element"> {{element.exe_Rec_Date| date:'yyyy-MM-dd'}} </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="text-dark display-1 fs-5 fw-bolder "  mat-row (click)="asd(row.fact_Name,row.item_Name)" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'bg-warning': row.tran_Code==2}"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
</div>
<mat-paginator #paginator  [pageSizeOptions]="[5, 10]"  

showFirstLastButtons      aria-label="Select page of periodic elements">

</mat-paginator>
<div class="text-center" *ngIf="isLoading">
    <app-sh-spinner></app-sh-spinner>
    </div>