.example-radio-group {
    display:flex;
    flex-direction: row;
    margin: 15px 0;
    flex-flow: row wrap;
    align-items: flex-start;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .example-radio-button {
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
  }